body {
  /* font-family: "Roboto", sans-serif; */
  /* color: #434455; */
  /* background-color: #ffffff; */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.container {
  /* max-width: 320px; */
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}















































.advertisement-container-text {
    border-radius: 12px;
    padding: 20px;
    position: relative;
    color: aliceblue;
  }
  
  .advertisement-text {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    text-transform: uppercase;
  }
  
  .discount-text {
    position: relative;
  }
  
  .discount-text::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #576f35;
    z-index: -1; /* Задаємо нижчий індекс для фону, щоб він знаходився позаду тексту */
    border-radius: 12px;
  }
  
  .advertisement-text-color {
    color: #141414;
  }

  .advertisement-container {
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  /* .advertisement {
    background-color: #fbfbfb;
  } */
  
  .advertisement-text {
    font-weight: 600;
    font-size: 48px;
    line-height: 1.04;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #fbfbfb;
  }
  
  .advertisement-container-text {
    border-radius: 12px;
    position: relative;
  }

  .discount-text {
    position: relative;
  }

  .advertisement-text-color {
    color: #141414;
  }

.discount-text::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #576f35;
  z-index: -1;
  border-radius: 12px;
}
  
  @media screen and (min-width: 375px) {
  }
  
  @media screen and (min-width: 768px) {
    .advertisement-container {
        padding-top: 100px;
        padding-bottom: 100px;
        padding-left: 16px;
        padding-right: 16px;
      }

      .advertisement-text {
        font-size: 64px;
        line-height: 1.09;
      }
  }
  
  @media screen and (min-width: 1158px) {
    .advertisement-container {
        padding-left: 100px;
        padding-right: 100px;
      }

      .advertisement-text {
        font-size: 76px;
        line-height: 1.05;
      }
  }
